<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-input type="text" id="destination" placeholder="Enter your destination" [(ngModel)]="destination" (keyup)="suggest($event)" clearInput></ion-input>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div *ngIf="locationErrorInfo != null">{{locationErrorInfo}}</div>
<div *ngIf="locationErrorInfo == null" id="map"></div>
</ion-content>
